.list-wrapper {
  background-color: $white;
  border-radius: 1.5rem;
  padding: 2.5rem;
  color: $black;
  .list-title {
    @include flex(start, center);
    @include text-style(28);
    font-weight: bold;
  }
  .nav-top {
    @include flex(between, center);
    margin-top: 3rem;
  }
  .dropdownWrapper {
    position: relative;
    width: 12.5rem;
    padding: 0.6rem 1rem;
    border: 1px solid #e2dede;
    border-radius: 6px;
    cursor: pointer;
  }
  .dropdownBox {
    @include flex(between, center);
  }
  .selectWrapper {
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    width: 12.5rem;
    padding: 10px;
    border: 1px solid $border;
    background-color: $white;
    border-radius: 6px;
    text-align: left;
  }
  .selectOptions {
    padding: 0.6rem 1rem;
    &:hover {
      width: 100%;
      border-radius: 6px;
      background-color: $background;
      font-weight: bold;
    }
  }
}
