.__reason {
  @include flex;
  width: 100%;
  height: 18vh;
  padding: 0 1rem;
  margin-bottom: 3rem;
  border: 1px solid #e2dede;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  color: $black;

  &:focus {
    border-color: black;
  }
}
