.badge {
  padding: 2px 8px;
  font-size: 1rem;
  border-radius: 4px;
  margin-left: 10px;
  color: white;
}

.leave {
  background-color: #ffbf00;
}

.outing {
  background-color: #07a58e;
}

.leave-early {
  background-color: #8252d9;
}

