$green: #07a58e;
$yellow: #ffbf00;
$purple: #8252d9;

.badge {
	padding: 2px 8px;
	font-size: 1rem;
	border-radius: 4px;
	margin-left: 10px;
	color: white;
}

.leave {
	background-color: $yellow;
}

.outing {
	background-color: $green;
}

.leave-early {
	background-color: $purple;
}
