.date-wrap {
  @include flex;
  gap: 2rem;
  align-items: baseline;
}

.date-title {
  @include flex(between, center);
  @include text-style(18, $black, 500);
  width: calc(100vw / 2);
  margin-bottom: 1rem;
}

.date__wrapper {
  @include flex(between, baseline);
  color: $black;

  div {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    color: $gray;
  }

  .date {
    color: $black;
    border: 1px solid $gray;
  }
  .date-test {
    @include flex;
  }
}
