.join {
	padding: 2rem 2.5rem;
<<<<<<< HEAD
=======
<<<<<<< HEAD
	height: 100vh;
	background-color: $white;
	overflow-y: auto;
=======
>>>>>>> master
>>>>>>> 861ac078b3a764d067c97fdc5bc5d707c7aab77f

	&__header {
		margin-bottom: 2.4rem;
		text-align: center;

		.logo {
			margin-bottom: 1.1rem;
		}

		.title {
			@include text-style(36, $black, 800);
		}

		.img-wrap {
			display: block;
<<<<<<< HEAD
			width: 95px;
=======
<<<<<<< HEAD
			width: 6rem;
=======
			width: 95px;
>>>>>>> master
>>>>>>> 861ac078b3a764d067c97fdc5bc5d707c7aab77f
			margin: 0 auto;
		}
	}

	.form {
		max-width: 400px;
		margin: 0 auto;

		.Button {
			margin-top: 3.5rem;
		}
	}
}
