.modal {
  @include flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  &__wrapper {
    @include column-flex(between, center);
    width: 35rem;
    height: 20rem;
    padding: 2.5rem;
    background-color: $white;
    border-radius: 24px;
    position: relative;

    &_buttons {
      @include flex(between, center);
      gap: 1.25rem;

      button {
        @include text-style(18);
        padding: 0.625rem 1.875rem;
      }
    }

    &_p {
      @include text-style(24, $black, 500);
      padding-top: 5rem;
    }
  }
}
