.reference {
	padding: 2.5rem 2.5rem 0.05rem 15rem;
}

.reference-area {
	background-color: $white;
	border-radius: 1.5rem;
	gap: 2.5rem;
	padding: 2.5rem;
	margin-top: 3.75rem;
	padding-bottom: 0.01rem;
	height: 850px;
}

.title {
	@include text-style(36, $black, 700);
	display: block;
	margin-bottom: 2.5rem;
}

.references {
	position: relative;
	border: 1px solid $gray;
	border-radius: 0.875rem;
	padding: 2rem 2.5rem;
	margin-bottom: 2.5rem;
	cursor: pointer;
}

/* 스와이퍼 컨테이너의 스타일 */
.swiper-container {
	width: calc(100% - 30rem); /* 레퍼런스 크기 블럭의 너비에서 패딩값 제외 */
	margin-left: 15rem; /* 레퍼런스 크기 블럭의 왼쪽 패딩값과 동일하게 설정 */
	padding-top: 2.5rem; /* 스와이퍼 컨테이너의 상단 여백 설정 */
	padding-bottom: 2.5rem; /* 스와이퍼 컨테이너의 하단 여백 설정 */
}

/* 스와이퍼 슬라이드의 스타일 */
.swiper-slide {
	width: 200px; /* 각 슬라이드의 너비 설정 */
	height: 200px; /* 각 슬라이드의 높이 설정 */
	background-color: #eee; /* 각 슬라이드의 배경색 설정 */
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
}

/* 이전/다음 버튼의 스타일 */
.swiper-button-prev,
.swiper-button-next {
	background-color: #333; /* 이전/다음 버튼의 배경색 설정 */
	color: #fff; /* 이전/다음 버튼의 텍스트 색상 설정 */
	width: 50px; /* 이전/다음 버튼의 너비 설정 */
	height: 50px; /* 이전/다음 버튼의 높이 설정 */
	border-radius: 50%; /* 이전/다음 버튼의 모양 설정 */
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
}

/* 이전 버튼의 위치 조정 */
.swiper-button-prev {
	left: calc(
		15rem + 10px
	); /* 레퍼런스 크기 블럭의 왼쪽 패딩값과 이전 버튼의 왼쪽 여백 설정 */
}

/* 다음 버튼의 위치 조정 */
.swiper-button-next {
	right: 10px; /* 다음 버튼의 오른쪽 여백 설정 */
}
