.nav{
    @include column-flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 12.5rem;
    height: 100vh;
    border: 1px solid $border;
    border-radius: 0px 24px 24px 0px;;
}

.nav-logo{
    margin-bottom: 4.0625rem;
    width: 5.9375rem;
    height: 5.125rem;
    background: url('./assets/images/logo_fastcampus_column.png') no-repeat center / cover;
}

.nav-icon{
    @include flex;
}

.word{
    @include text-style(14, $darkgray, 600);
    padding-top: 1px;
}

.nav-logout-btn{
    @include flex;
    @include text-style(14, $white, 400);
    width: 6.6875rem;
    height: 2.1875rem;
    background-color: $primary;
    border-radius: 6px;
    padding: 8px 20px;
    margin-top: 14.1875rem;
}

.icons{
    margin-top: 55px;
}