.badge {
  @include flex;
  @include text-style(14, $white, 500);
  height: 1.75rem;
  padding: 2px 8px;
  border-radius: 4px;
  margin-left: 10px;
}

.leave {
  background-color: $yellow;
}

.outing {
  background-color: $green;
}

.leave-early {
  background-color: $purple;
}
