.BlockBox {
  min-height: 25rem;
  padding: 2.5rem;
  border-radius: 1.5rem;
  background-color: #fff;

  &.small {
    @include column-flex;
    flex-shrink: 0;
    width: 40%;
  }

  &.medium {
    flex-grow: 1;
    flex-basis: 0;
    padding: 2.5rem;
    margin-top: 2.5rem;
  }

  &.large {
    @include flex;
    flex-grow: 1;
  }
}
