.form {
	.field {
		margin-bottom: 1.875rem;
		&:last-child {
			margin-bottom: 0;
		}
		.label {
			display: block;
			margin-bottom: 0.625rem;
			font-weight: 500;
		}
		.input {
			@include text-style(16, $black, 500);
			display: block;
			width: 100%;
			height: 3.125rem;
			padding: 0 1rem;
			border-radius: 6px;
			border: 1px solid $border;
			background-color: $white;
			&::placeholder {
				@include text-style(16, $gray, 500);
			}
			&:focus {
				border-color: $darkgray;
			}
		}
		&.error {
			.input-wrap {
				position: relative;
				.input {
					border-color: $error;
				}
				&::after {
					content: "";
					position: absolute;
					right: 1rem;
					top: 50%;
					transform: translateY(-50%);
					width: 1.25rem;
					height: 1.25rem;
					background: url("/src/assets/images/icon_error.svg") no-repeat center /
						contain;
				}
			}
			.error-message {
				@include text-style(14, $error, 400);
				display: block;
				margin-top: 0.4rem;
			}
		}
		&.success {
			.input-wrap {
				position: relative;
				&::after {
					content: "";
					position: absolute;
					right: 1rem;
					top: 50%;
					transform: translateY(-50%);
					width: 1.25rem;
					height: 1.25rem;
					background: url("/src/assets/images/icon_success.svg") no-repeat
						center / contain;
				}
				.input {
					border-color: $success;
				}
			}
			.success-message {
				@include text-style(14, $success, 400);
				display: block;
				margin-top: 0.4rem;
			}
		}
	}
}
