@import "../../mixins/text-style";
@import "../../constants/colors";
@import "../../constants/typography";
@import "../../mixins/flex";
@import "../../base/reset";
@import "../../base/fonts";

.todoList__grid {
  display: grid;
  grid-template-columns: 1fr 7.6fr 0.7fr 0.7fr;
  border: 1px solid $border;
  border-radius: 6px;
  align-items: center;
  width: 100%;
  height: 30%;
  margin-top: 20px;

  &__checkbox {
    @include flex;
    margin: auto;
  }

  input[type="checkbox"] {
    accent-color: #ed234b;
    width: 100%;
    height: 100%;
    margin-top: 5px;
  }

  img {
    width: 40%;
    margin: 0;
  }
}

// .todo-list-grid .checkbox {
//   width: 50%;
//   height: 50%;
//   margin: auto;
// }

// .todo-list-grid .checkbox input {
//   display: none;
// }

// .todo-list-grid .checkbox label {
//   display: flex;
//   width: 70%;
//   height: 100%;
//   margin: auto;
//   border: 2.5px solid #A8A8A8;
//   border-radius: 4px;
//   box-sizing: border-box;
//   cursor: pointer;
//   background: url('../../public/checkbox_vector.png') no-repeat;
//   background-position: center center;
// }

// .todo-list-grid .checkbox input:checked + label {
//   border-color: #ED234B;
// }

// .todo-list-grid .checkbox input:checked + label::after {
//   content: '';
//   width: 100%;
//   height: 100%;
//   text-align: center;
//   background: url('../../public/checkbox_vector_white.png') no-repeat;
//   background-color: #ED234B;
//   background-position: center center;
// }
