$primary: #ed234b;
$primary-hover: #d8002b;

$yellow: #ffbf00;
$green: #07a58e;
$purple: #8252d9;

$black: #000;
$black-hover: #3e3e3e;
$darkgray: #5f5f5f;
$gray: #a8a8a8;
$border: #e2dede;
$background: #f7f7f7;
$white: #fff;
$white-hover: #ebebeb;

$error: #ee5151;
$success: #2bda90;
