.Editor {
  display: flex;
  gap: 0.625rem;
  margin-bottom: 2rem;

  input {
    @include text-style(16);
    width: 50%;
    margin-left: auto;
    border: 1px solid $border;
    padding-left: 1rem;

    &:focus {
      border-color: $gray;
    }
  }
}
