.ListItem {
  @include flex(start, center);
  gap: 1.25rem;
  padding: 0.625rem;
  margin-top: 1rem;
  border: 1px solid $border;
  border-radius: 6px;

  input {
    width: 5%;
    accent-color: $primary;
  }

  &__input {
    flex: 1;
  }

  &__content {
    flex: 1;
  }
}
