@import './styles/mixins/text-style';
@import './styles/constants/colors';
@import './styles/constants/typography';
@import './styles/mixins/flex';
@import './styles/base/reset';
@import './styles/base/fonts';

body{
    max-width: 1920px;
    max-height: 1024px;
    background-color: $background;
}

.nav{
    @include column-flex(between, center);
    position: fixed;
    top: 0;
    left: 0;
    width: 12.5rem;
    height: 100vh;
    border: 1px solid $border;
    border-radius: 0px 24px 24px 0px;;
}

.nav-logo{
    width: 5.9375rem;
    height: 5.125rem;
    margin-top: 61px;
    margin-bottom: 60px;
}

.nav-icon{
    @include flex;
}

.word{
    @include text-style(14, $darkgray, 600);
    padding-top: 3px;
}

.nav-logout-btn{
    @include flex;
    @include text-style(14, $white, 400);
    background-color: $primary;
    border-radius: 6px;
    padding: 8px 20px;
    margin-bottom: 36px;
    margin-top: 96px;
}

.announcement{
    position: absolute;
    top: 0;
    right: 0;
    width: 1720px;
    height: 100vh;
    background-color: $background;
}

.announcement-area{
    position: absolute;
    @include column-flex;
    bottom: 36px;
    right: 44px;
    width: 1635px;
    height: 874px;
    background-color: $white;
    border-radius: 24px;
    gap: 40px;
}

.title{
    position: absolute;
    top: 40px;
    left: 44px;
    @include text-style(36, $black, 700)
}

.announcements{
    @include column-flex(center,left);
    width: 1555px;
    height: 123px;
    border: 1px solid grey;
    border-radius: 14px;
}

.arrow-right{
    margin-left: 1513px;
    width: 12px;
    height: 21px;
}

.announcements span{
    @include text-style(24, $black, 700);
    margin-left: 40px;
    line-height: 160%;
}

.announcements .date{
    @include text-style(20, $gray, 500);
}