@import './styles/mixins/text-style';
@import './styles/constants/colors';
@import './styles/constants/typography';
@import './styles/mixins/flex';
@import './styles/base/reset';
@import './styles/base/fonts';

body {
	background-color: $background;
}

.nav {
	@include column-flex(between, center);
	position: fixed;
	top: 0;
	left: 0;
	width: 12.5rem;
	height: 100vh;
	border-radius: 0px 24px 24px 0px;
	background: $white;
}

.nav-logo {
	width: 5.9rem;
	height: 5.1rem;
	margin-top: 3.8rem;
	margin-bottom: 3.75rem;
}

.nav-icon {
	@include flex;
}

.word {
	@include text-style(14, $darkgray, 600);
	padding-top: 0.5rem;
}

.nav-logout-btn {
	@include flex;
	@include text-style(14, $white, 400);
	background-color: $primary;
	border-radius: 0.375rem;
	padding: 0.5rem 1.25rem;
	margin-bottom: 2.25rem;
	margin-top: 6rem;
}

.notice-bonus {
	padding: 2.5rem 2.5rem 0.05rem 15rem;
}

.notice-bonus-area {
	background-color: $white;
	border-radius: 1.5rem;
	padding: 2.5rem;
	margin-top: 3.75rem;
}

.title {
	@include text-style(36, $black, 700);
	display: block;
	margin-bottom: 1rem;
	margin-top: 2.5rem;
	text-align: center;
}

.line {
	width: 1561px;
	border-bottom: 1px solid $border;
	margin-bottom: 1rem;
}

.content {
	display: block;
	@include text-style(18, $black, 400);
	line-height: 4rem;
}
